body {
    font-family: sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header-container {
    background-color: #120323;
    color: yellowgreen;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-container img {
    max-width: 100px;
    height: auto;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    max-width: 1000px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

figure {
    display: flex;
    flex-direction: column;
}

figure img {
    width: 100%;
    max-width: 500px;
    border: 5px solid red;
}

aside {
    width: 100%;
    background-color: yellowgreen;
    

  
}

footer {
    background-color: red;
    padding: 10px;
    width: 100%;
    color: azure;
    text-align: center;

}

/* Responsive design*/

@media (max-width: 767px) {
    .header-container {
        flex-direction: column;
    }

.header-container h1 {
    margin-top: 10px;
}

figure img {
    width: 100%; 
}
}


@media (min-width: 768px) and (max-width: 999px) {
    .header-container{
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    figure {
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    figure img {
        max-width: 300px;
        margin-right: 20px;
    }

    aside {
        width: 100%;
    }
}